.wholeBody {
  padding-left: 10%;
  padding-right: 10%;
}

.bottomSpace {
  margin-bottom: 50px;
}

/* .infoTherapy {
  margin-left: 5%;
  margin-right: 5%;
}

.backToDash {
  margin-left: 5%;
  margin-right: 5%;
} */
