.therapist {
  background-color: #f6f5f1;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.picture {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.rightAlign {
  text-align: right;
}

.leftAlign {
  text-align: left;
}

.centerAlign {
  text-align: center;
}

.middleAlign {
  align-self: center;
}

.link {
  padding: 10px;
  cursor: pointer;
  color: #0d6efd;
  font-weight: bold;
}

.link:hover {
  color: #0b5ed7;
}

.active {
  text-decoration: underline;
  text-decoration-color: #8a877c;
}

.topspace {
  margin-top: 5px;
}

.buttons {
  color: #f6f5f1;
  font-weight: bolder;
}

.marginRight {
  margin-right: 10px;
}
